.main__logo {
    padding: 4rem 0;
}

.main__infoFlexDiv {
    display: flex;
}

.main__paragraphDiv {
    width: 50%;
}
.main__councilImage {
    flex-basis: 50%;
    width: 100%;
    height: auto;
}

