.main__project {
    padding: 1.5rem;

    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: .5rem;
}
.main__projectFlex {
    display: flex;
}
.main__projectH2 {
    padding: .8rem 0;
}
.main__projectDescriptionFlex {
    flex-basis: 50%;
}
.main__projectDescription {
    padding-bottom: 1.8rem;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
.main__projectUl {
    line-height: 1.5rem;
}
.main__projectImages {
    flex-basis: 50%;

    padding: 0 1rem 1rem 1rem;
    width: 100%;
}
.main__projectFigure {
    width: 100%;
    height: auto;
}
.main__projectImage {
    width: 100%;
    height: auto;

    box-shadow: 2px 2px 2px #07091440;
}
.main__projectFigcaption {
    font-size: .6rem;
    text-align: right;
}