* {
    box-sizing: border-box;
    margin: 0;
}


.header, .main, .footer { /* Constricts rem and centers content*/
    max-width: 65rem;
    margin: 0 auto;
}

.body {
    background-color: #0E1128;
    font-family: 'Roboto Mono', monospace;
}

/* Header */
.header__wrapperWidth {
    background-color: black;
    box-shadow: 0px 10px 20px rgb(9, 13, 71);

}
.header__logo {
    position: relative;
    z-index: 0;
    padding: 1rem;

    width: 200px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    background-color: black;
    
}

.nav__ul {
    display: flex;
    align-items: center;

    margin-bottom: 0.1rem;
    padding: 1rem;

    list-style-type: none;
}
.nav__li {
    padding: 0 1rem;
    font-size: 1.27rem;
}
.nav__anchor {
    text-decoration: none; /* removed bullets from anchors*/
    color: white;
}
.nav__joinButton {
    margin-left: 0.5rem;
    padding: 0.3rem 1.3rem;

    background-color: #001902;

    font-family: 'Roboto Mono';
    font-weight: 600;

    border-style: none;
    border-radius: 0.95rem 0.95rem 0.95rem 0.95rem;
}
.nav__joinAnchor {
    text-decoration: none;

    color: #E5E288;
    font-size: 1.27rem;
}



/* Footer */
.footer__wrapperWidth {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: white;
}